<div id="home" class="f1">
    <p>Welcome!</p>
    <p style="margin-top: 50px">We have found <span id="num_files"></span> scenes</p>
    <p>Press N to start the next scene in the sequence</p>
    <p>Press H to start a random scene</p>
    <p>Press L to return to the last watched</p>
    <p>Press B to start the previous scene in the sequence</p>
    <p>Press J to rewind</p>
    <p>Press K to fast forward</p>
    <p>Press 1 to go to this screen</p>
    <p>Press 2 to go to the files list</p>
    <p>Press 3 to go to the player</p>
    <p>Press A to cycle through the aspect ratios</p>
    <p style="margin-top: 50px">Press ESC when your mom enters the room</p>
</div>