<div id="home" class="f1">
    <p>Welcome!</p>
    <p style="margin-top: 50px">We have found <span id="num_files"></span> scenes</p>
    <p>Press <kbd>H</kbd> to start a random scene</p>
    <p>Press <kbd>N</kbd> to start the next scene in the sequence</p>
    <p>Press <kbd>L</kbd> to return to the last watched</p>
    <p>Press <kbd>B</kbd> to start the previous scene in the sequence</p>
    <p>Press <kbd>J</kbd> to rewind</p>
    <p>Press <kbd>K</kbd> to fast forward</p>
    <p>Press <kbd>1</kbd> to go to this screen</p>
    <p>Press <kbd>2</kbd> to go to the files list</p>
    <p>Press <kbd>3</kbd> to go to the player</p>
    <p>Press <kbd>A</kbd> to cycle through the aspect ratios</p>
    <p>Press <kbd>9</kbd> to lower the audio volume</p>
    <p>Press <kbd>0</kbd> to increase the audio volume</p>
    <p>Press <kbd>F</kbd> to toggle full screen mode</p>
    <p style="margin-top: 50px">Press <kbd>ESC</kbd> when your mom enters the room</p>
</div>
