<div id="player" style="background-color: black" class="f1">
    <video id="video_player"></video>
    <div id="info_bar">
        <div id="info"></div>
        <div id="progress_bar">
            <div id="progress"></div>
        </div>
    </div>
</div>