<div id="settings">
    <div id="settings_menu">
        <div class="settings_menu_item" id="set_sequence">
            <div class="settings_item_name">Sequence</div><div class="settings_item_value">Linear</div>
        </div>
        <div class="settings_menu_item">
            <div class="settings_item_name">Aspect ratio</div><div class="settings_item_value">Longer value</div>
        </div>
        <div class="settings_menu_item">
            <div class="settings_item_name">Timer</div><div class="settings_item_value">Linear</div>
        </div>
    </div>
</div>  