<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>###</title>
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <style>

    </style> 
</head>
<body>
    <div id="content">
        <%- include('../partials/settings') %> 
        <%- include('../partials/home') %> 
        <%- include('../partials/files') %> 
        <%- include('../partials/player') %> 
    </div>
<script src="/js/player.js" type="text/javascript"></script>
</body>
</html>